/*! 
 * Kalatheme (http://drupal.org/project/kalatheme) 
 * rbv_kala_default kalatheme subtheme
 */

/* field */
.field-label {
font-size: .8em;
}

/* field > date */
.date-display-start {
-moz-border-radius: .4em;
border-radius: .4em;
background: #E3FFCE;
padding: .3em .5em .2em .5em;
line-height: 1.8em;
}
.date-display-end {
-moz-border-radius: .4em;
border-radius: .4em;
background: #FFCECE;
padding: .3em .5em .2em .5em;
line-height: 1.8em;
}

/* field > logo */
.field-name-field-com-logo {
float: left;
padding: 0 1em 1em 0;
}

/* field > slogan */
.field-name-field-com-tagline {
padding-bottom: 1em;
font-size: 1.2em;
font-family: georgia;
font-style: italic;
}
.field-name-field-com-tagline .field-item:before, .field-name-field-com-tagline .field-item:after {
content: "\""
}
/* field social link */
.field-name-field-com-social-links {
padding: 1em 1em 0 0;
}
.field-name-field-com-social-links .field-item {
padding-bottom: .45em;
float: right;
}

/* taxonomy */
.field-type-taxonomy-term-reference ul.links {
list-style: none;
}
.field-type-taxonomy-term-reference a {
-moz-border-radius: .3em;
border-radius: .3em;
padding: .1em .3em .1em .3em;
margin: .2em;
white-space: nowrap;
}

/* taxonomy > categories */
.field-name-field-com-categories a {
background: #FFEAB9;
float: left;
}

/* taxonomy > tags */
.field-name-field-com-tags a {
background: #CEEAFF;
float: left;
}

/* taxonomy > org-type */
.field-name-field-org-type a {
background: #FFFFFF;
}

/* panels */
/* pane titles */
.node-type-org .views-row {
background: #fbfbfb;
-moz-border-radius: .4em;
border-radius: .4em;
margin: .5em;
padding: .5em;
}

.node-type-project .views-row {
background: #fbfbfb;
-moz-border-radius: .4em;
border-radius: .4em;
margin: .5em;
padding: .5em;
float: left;
}

.pane-title {
clear: both;
font-size: 1.3em;
margin-top: 1.5em;
}
.node h2 {
font-size: 1.4em;
}

/* pane og group ref */
.group-vmode-group-content .field-name-og-group-ref {
clear: both;
}
.group-vmode-group-content .field-name-og-group-ref a:before {
content: 'di ';
}
.group-vmode-group-content .field-name-field-com-tagline {
padding-bottom: 0;
font-size: 1em;
}

/* fieldset */
.field-group-fieldset {
-moz-border-radius: .8em;
border-radius: .8em;
}
fieldset legend {
margin-bottom: .7em;
}
a.fieldset-title:link {
font-size: .6em;
color: #909090;
}

/* fieldset > org > info */
.group-org-display-info, .group-project-display-info {
background: #fbfbfb;
}
.group-org-display-info .field-name-field-com-logo, .group-project-display-info .field-name-field-com-logo {
padding-right: 1.6em;
padding-bottom: 2em;
}
.group-org-display-info .field-name-field-com-tagline, .field-name-field-com-logo .field-name-field-com-tagline {
padding-bottom: 1em;
}

/* fieldset > org > description */
.group-org-display-description .field-type-taxonomy-term-reference, .group-project-display-description .field-type-taxonomy-term-reference {
padding-bottom: 1.5em;
clear:both;
}
.field-name-field-com-mission, .field-name-field-com-description, .field-name-field-com-history {
clear: both;
padding-top: 1em;
}


